<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Services</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">
    

</head>
<body>
   
    <h1 class="text-centre">ADD A NEW SERVICE</h1><br>

    <%
    if(messages?.error)
    {
        %>
        <div class="alert alert-danger text-centre">
            <ul class="alert alert-danger text-centre">
                <%=messages?.error%>

            </ul>
        </div>
       
        
        <%}%>
    <form action="/adddata" method="post" >
        <br><br><label for="name">Enter service name</label>
        <input class="form-control" type="text" placeholder="Enter Service" name="name">
    
        <br><br><label for="price">Price</label>
        <input class="form-control" type="text" placeholder="Enter Price" name="price">
    
        <br><br><label for="category">Category</label>
        <input class="form-control" type="text" placeholder="Enter Category" name="category">
    
        <br><br><label for="duration">Duration</label>
        <input class="form-control" type="text" placeholder="Enter Duration" name="duration">
    <input type="submit" value ="Add Service">
       </form>
</body>
</html>